<!DOCTYPE html>
<html>
    <head>
        <title>Views</title>
        <link href="style/table.css" rel="stylesheet">
        <link href="style/title.css" rel="stylesheet">
    </head>

    <body>
        <script src="scripts/main.js"></script>

        <div class="twelve">
            <h1>Analytical Views</h1>
        </div>
        <div class="eleven">
            <h1>Here you can see all the analytical:</h1>
        </div>

        <p>
            <table class="flatTable hidden">
                <tr class="titleTr">
                  <td class="titleTd">TABLE TITLE</td>
                  <td colspan="5"></td>
                </tr>
                <tr class="headingTr">
                  <td>Product Name</td>
                  <td>Products</td>
                  <td>Coverage</td>
                  <td>Support</td>
                </tr>


              </table>
        </p>

        <a href="#" onclick="buildModel();" class="button instagram"><span class="gradient"></span>Train</a>
        <!-- <button type="button" onclick="buildModel()">train</button> -->

    </body>
</html>